@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;

}
.menubar{
    display:flex;
}
.logo p{
    
    font-weight: 700;
    margin: 0;
    font-size: 60px;
}